.boton-amarillo{
    @include boton($amarillo, inline-block);
    color: $negro;
    font-size: 1.8rem;
    border: none;
}
.boton-amarillo-block{
    @include boton($amarillo, block);
}
.boton-verde{
    @include boton($verde, in-block);
    color: $negro;
    font-size: 1.8rem;
    border: none;
}
.boton-verde-block{
    @include boton($verde, block);
}
.boton-rojo-block{
    @include boton($rojo, block);
}
.boton-azul-block{
    @include boton($azul, block);
}
.boton-azulClaro-block{
    @include boton($azulClaro, block)
}

