.footer{
    padding: calc($separacion / 2);
    background-color: rgb(32, 19, 126);
    color: white;
    
    .contenedor-footer{
        padding-top: calc($separacion / 2);
    }
    
    .copyright{
        text-align: center;
        color: $blanco;
    }
    a{
        color: $blanco;
    }
}